// Links
%linkPlaceholder {
  text-decoration: none;
  color: $color-default-text;

  &:hover {
    cursor: pointer;
  }
}
// Images
%imagesPlaceholder {
  display: block;
  margin: 0 auto;
}
// Nav items
%navItemPlaceholder {
  padding: 10px;
  font-size: $large-font-size;
  border-radius: 10px;
}

%buttonPlaceholder {
  outline: none;
  border: none;
  margin: 10px 0;
  width: 100%;
  @extend %themeColorSize;
  @include fontStyle($large-font-size, $default-font-weight, $color-white);
  text-transform: uppercase;
}

%themeColorSize {
  padding: 10px;
  border-radius: 5px;
}
