@mixin mediaQuery($breakpoint) {
  @media (min-width: $break-md) {
    @content;
  }
}

@mixin flexMixin($dir: null, $wrap: null, $justify: null) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $justify;
}

@mixin fontStyle($size: null, $weight: null, $color: null) {
  font-family: "Oswald", sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin center($width: null) {
  margin: 0 auto;
  width: $width;
}

@mixin colButtonPlaceholder {
  margin: 10px 15px;
  width: 15%;
}
