@mixin mediaQuery($breakpoint) {
  @if $breakpoint == $break-sm {
    @media (min-width: $break-sm) {
      @content;
    }
  }
  @if $breakpoint == $break-md {
    @media (min-width: $break-md) {
      @content;
    }
  }
  @if $breakpoint == $break-lg {
    @media (min-width: $break-lg) {
      @content;
    }
  }
}

@mixin flexMixin($dir: null, $wrap: null, $justify: null) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $justify;
}

@mixin fontStyle($size: null, $weight: null, $color: null) {
  font-family: "Oswald", sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin center($width: null) {
  margin: 0 auto;
  width: $width;
}
