// Color
$color-default: rgb(0, 242, 255);
$color-success: rgb(74, 186, 14);
$color-error: rgb(219, 89, 77);
$color-warning: rgb(226, 121, 1);
$color-info: rgb(142, 0, 139);

// Font
$default-font-size: 1.6rem;
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
$default-font-weight: 400;
$light-font-weight: 300;
$heavy-font-weight: 700;
$default-font-style: "Roboto", sans-serif;

// Breakpoints
$break-sm: 48rem;
$break-lg: 140rem;
