// Color
$color-default: rgb(1, 207, 218);
$color-success: rgb(74, 186, 14);
$color-error: rgb(219, 89, 77);
$color-warning: rgb(226, 121, 1);
$color-info: rgb(142, 0, 139);
$color-default-text: rgb(117, 117, 117);

$color-white: #fff;
$color-coral: rgb(52, 219, 183);

// Font
$default-font-size: 18px;
$large-font-size: 22px;
$xlarge-font-size: 26px;
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
$default-font-weight: 400;
$light-font-weight: 300;
$heavy-font-weight: 700;
$default-font-style: "Oswald", sans-serif;

// Breakpoints
$break-sm: 480px;
$break-md: 768px;
$break-lg: 1400px;
