.img--logo,
.img--avatar {
  @extend %imagesPlaceholder;
}

.img--frame {
  outline: 1px solid $color-default-text;
  padding: 10px;
  width: 100%;
  height: auto;
  max-height: 199px;
  max-width: 400px;
  @include center;
}
