.nav {
  padding: 20px 0;
  text-align: center;

  &__item {
    @extend %navItemPlaceholder;

    &:first-of-type {
      background: $color-coral;

      & a {
        color: $color-white;
      }
    }
  }
  @include mediaQuery($break-md) {
    @include flexMixin(row, null, null);
  }
}
