// *
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ul
ul {
  list-style: none;
}
// p
p {
  font-family: $default-font-style;
  font-size: $default-font-size;
  color: $color-default-text;
  padding: 10px;
}
// a
a {
  @extend %linkPlaceholder;
}
