// *
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ul
ul {
  list-style: none;
}
// p
p {
  @include fontStyle(
    $default-font-size,
    $default-font-weight,
    $color-default-text
  );
  padding: 20px 10px;
  line-height: 1.2;
  text-align: left;
}
// a
a {
  @extend %linkPlaceholder;
}
